.brand-name{
    font-size: 50px;
    font-weight: 300;
    color: #ffffff
}

.nav-bar{
    position: absolute;
    display: flex;
    height: 100px;
    width: 100vw;
    justify-content:  space-around;
    align-items: center;
    border-bottom: 1px solid #ffffff;
}
.user-icon, .side-bar-icon{
    font-size:30px;
    color: #ffffff;
}